:root {
  --blue: #2980B9;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;

/*    overflow-x: hidden;*/

    background-color: #f4f4f4;
}


.skip-to-main-content-link {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: black;
    color: white;
    opacity: 0;
}

.skip-to-main-content-link:focus,
.skip-to-main-content-link:active {
    left: 25%;
    transform: translateX(-50%);
    opacity: 1;
}

a {
    text-decoration: none;
    color: var(--blue);
}

a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    color: var(--blue);
}

.hero {
    /*background-image: url('../images/hero/hero-fade.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;*/
    /* to prevent margin-collapse with h1: */
    padding-top: 1px;
}

.hero img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.hero-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    pointer-events: none;
    z-index: -1;
}

.particles-js-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    z-index: 2;

    pointer-events: none;

    /*visibility: hidden;*/
    /*display: none;*/
    opacity: 0;
}

#header {
    width: 100%!important;
    max-width: 100%!important;
    padding: 0!important;

    position: relative;
    overflow: hidden;

    min-height: 420px;
    padding-bottom: 46px!important;

/*    background-color: #9C27B0;*/
/*    background-color: #9B59B6;*/
/*    background-color: #3498DB;*/
    background-color: var(--blue); /* CI PIACEEE */

    margin-bottom: 60px;

    -webkit-box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.5);
}

.blueLink {
    color: var(--blue);
}

.whiteLink {
    color: white;
    font-weight: 800;
    position: relative;
}
    .whiteLink:after {
        content: "";
        position: absolute;

        bottom: -1px;
        height: 2px;
        background-color: #fff;
        left: 0px;
        right: 0px;
        margin: auto;
        width: 100%;

        -webkit-transition: all 0.12s ease-in-out;
           -moz-transition: all 0.12s ease-in-out;
            -ms-transition: all 0.12s ease-in-out;
             -o-transition: all 0.12s ease-in-out;
                transition: all 0.12s ease-in-out;
    }

    .whiteLink:hover {
        /*        color: #ECF0F1;*/
        color: white;
        text-decoration: none;
    }
    .whiteLink:hover:after {
        width: 12%;
    }

.page-container,
.header-container {
    max-width: 1024px;
    margin: 0 auto;
    /* top and bottom, right and left */
}


h1 {
    text-align: center;
/*    margin-top: 18px;*/
    margin-top: 0px;
/*    padding-top: 62px;*/
    padding-top: 6px;
    font-weight: 800;
/*    text-shadow: 1px 1px 1px #fff;*/
    color: white;
}

    .focus-logo {
        font-size: 3.4rem;
    }

#oBouncing {
    font-style: normal;
    color: inherit;

    position: relative;
    top: 0px;

    -webkit-animation: oBouncingAnim 2.2s ease-in-out 0s 1 normal forwards;
       -moz-animation: oBouncingAnim 2.2s ease-in-out 0s 1 normal forwards;
        -ms-animation: oBouncingAnim 2.2s ease-in-out 0s 1 normal forwards;
         -o-animation: oBouncingAnim 2.2s ease-in-out 0s 1 normal forwards;
            animation: oBouncingAnim 2.2s ease-in-out 0s 1 normal forwards;
}

    @keyframes oBouncingAnim {
        0% {
            top: 0px;
        }
        30% {
            top: 0px;    
        }
        55% {
            top: 0px;
        }
        60% {
            top: 9px;
        }
        100% {
            top: 0px;
        }
    }

#logoIcon {
    margin: 12px auto 0px auto;
    text-align: center;
}
    #logoIcon > img {
        width: 140px;
        margin: 0px auto;

        position: relative;
        top: -86px;
        opacity: 0.6;

        -webkit-animation: logoAnim 2.2s ease-in-out 0s 1 normal forwards;
           -moz-animation: logoAnim 2.2s ease-in-out 0s 1 normal forwards;
            -ms-animation: logoAnim 2.2s ease-in-out 0s 1 normal forwards;
             -o-animation: logoAnim 2.2s ease-in-out 0s 1 normal forwards;
                animation: logoAnim 2.2s ease-in-out 0s 1 normal forwards;
    }

    @keyframes logoAnim {
        0% {
            -webkit-transform: rotate(0deg);
               -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                 -o-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        30% {
            opacity: 1;
            -webkit-transform: rotate(12deg);
               -moz-transform: rotate(12deg);
                -ms-transform: rotate(12deg);
                 -o-transform: rotate(12deg);
                    transform: rotate(12deg);
        }
        60% {
            top: 48px;
            opacity: 1;
            -webkit-transform: rotate(-12deg);
               -moz-transform: rotate(-12deg);
                -ms-transform: rotate(-12deg);
                 -o-transform: rotate(-12deg);
                    transform: rotate(-12deg);
        }
        100% {
            top: 0px;
            opacity: 1;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }

    .testShadow {
/*        text-shadow: -4px 4px 0px #000;*/
        text-shadow: -4px 4px 0px #114b6b;
    }

    .h1-subtitle {
        padding-top: 22px!important;
        padding-bottom: 0px!important;
    }

h2 {
    text-align: center;
    margin-bottom: 18px;
}

h3 {
    font-size: 20px;
}

.subtitle {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 0px;
    font-weight: 400;

    color: white;
}



.announcement {
    font-size: 24px;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 0px;
    font-weight: 500;
    text-shadow: 1px 1px 2px #DDDDBB;
}

.bravo-logo {
    font-style: italic;
    margin-bottom: 20px;
}

.emoji {
    font-style: normal;
}

.emojiFlip {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    font-style: normal;
    display: inline-block;
}

#headerNav {
    margin-top: 26px;
}

.nav-item {
    text-align: center;
    font-weight: 700;
/*    text-shadow: 1px 1px 5px #DDDDDD;*/
    text-shadow: none;

/*    background-color: rgba(41, 128, 185, 0.5);*/
    background-color: #4a92bf;
    padding: 0px 6px;
    margin: 0px 8px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    border: 3px solid #fff;
    border-color: transparent;

    cursor: pointer;

    -webkit-transition: all 0.12s ease-in-out;
       -moz-transition: all 0.12s ease-in-out;
        -ms-transition: all 0.12s ease-in-out;
         -o-transition: all 0.12s ease-in-out;
            transition: all 0.12s ease-in-out;
}

    .nav-item:hover {
        border-color: #fff;
    }

    .nav-item > a {
        color: white!important;
        font-weight: 800;
        text-shadow: 1px 1px 1px #767676;
    }
        .nav-item > a:hover {
            text-decoration: none;
        }


.navbar {
    margin-top: 12px;
}


acronym {
    text-decoration-style: dotted: text-decoration-color: black;
    text-decoration-thickness: 1px;
}

.section-container {
    margin: 30px auto 10px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #CCCCCC;
}


.section-first {
    margin-top: 18px;
    padding-top: 6px;
    border: none;
}


.framed-photo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.framed-photo img {
    height: 120px;
    max-width: 120px;
    border-radius: 120px;
    margin: 0 auto;
}


@media(max-width:767.999px) {

    .program-row,
    .dates-row {
        margin-bottom: 18px;
    }


    .image-container {
        width: 100%!important;
        height: 340px!important;
    }

    #header h1, #header p {
        padding-left: 12px;
        padding-right: 12px;
    }

    .navbar-toggler {
        margin-bottom: 12px;
    }
}

@media(min-width:768px) {
    .person-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
        .person-card {
            width: 20%;
        }

    .program-row,
    .dates-row {
        margin-bottom: 4px;
    }

}

.person-card {
    border: none;
    margin-top: 18px;
    margin-left: 35px;
    margin-right: 35px;

    background-color: transparent!important;
}

.person-name {
    margin: 0 auto;
    text-align: center;
}

.person-affiliation {
    margin: 0 auto;
    text-align: center;
}

.supporter-card {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.supporter-link {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0px 22px;
}

.supporter-image {
    height: 96px;
}

.section-colophon {
    font-size: 12px;
    padding-bottom: 18px;
}

.image-container img {
    max-width: calc(95% / 5);
    height: auto;
}

ul.accepted-papers {
    list-style-type: none;
    padding-left: 0;
}

ul.accepted-papers li {
    padding-left: 2em;
    text-indent: -2em;
    margin-bottom: 0.5em;
}

ul.tree {
    list-style-type: none;
    padding-left: 20px;
}

ul.tree li {
    position: relative;
}

ul.tree li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    border-left: 1px solid #000;
    height: 100%;
}

/* Add some CSS styles to format the code */
pre {
    background-color: #f4f4f4;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    white-space: pre-wrap;
}

/* Optionally, you can add syntax highlighting using a library like Prism.js or highlight.js */
pre code {
    display: block;
    overflow-x: auto;
    padding: 0;
}

/* Define a class for Python code blocks */
.python-code {
    color: #333;
}



#abstract {
    margin-top: 42px;
}

.image-container {
    justify-content: center;
    display: flex;
    margin: 82px auto 10px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #CCCCCC;
    margin-bottom: 30px;

    position: relative;
    width: 800px; /* Adjust based on your image size */
    height: 600px; /* Adjust based on your image size */
    border: 1px solid #ccc; /* Optional border for better visual */

    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

#imageContainer {
    /*-webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    overflow: hidden;*/

    background-color: transparent;
    border: none;

}
    

.bottom-image, .top-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: clip-path 0.1s linear; /* Smooth transition for the clipping path */

    border: none;
}

.bottom-image {
    background-size: cover;
    background-image: url('../images/image1.jpg'); /* Replace with your image path */

    -webkit-border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;

    -webkit-box-shadow: 0px 1px 16px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 16px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 16px -6px rgba(0, 0, 0, 0.5);
}

.top-image {
    background-size: cover;
    background-image: url('../images/image2.jpg'); /* Replace with your image path */
    width: 10%;

    -webkit-border-radius: 12px 0px 0px 12px;
    -moz-border-radius: 12px 0px 0px 12px;
    border-radius: 12px 0px 0px 12px;

    -webkit-animation: topImageSlide 5s ease-in-out 0s infinite alternate;
       -moz-animation: topImageSlide 5s ease-in-out 0s infinite alternate;
        -ms-animation: topImageSlide 5s ease-in-out 0s infinite alternate;
         -o-animation: topImageSlide 5s ease-in-out 0s infinite alternate;
            animation: topImageSlide 5s ease-in-out 0s infinite alternate;
}

#imageSeparator {
    position: absolute;
    top: 0px;
    left: 10%;
    width: 4px;
    height: 100%;
    background-color: #fff;
    z-index: 100;

    -webkit-animation: separatorSlide 5s ease-in-out 0s infinite alternate;
       -moz-animation: separatorSlide 5s ease-in-out 0s infinite alternate;
        -ms-animation: separatorSlide 5s ease-in-out 0s infinite alternate;
         -o-animation: separatorSlide 5s ease-in-out 0s infinite alternate;
            animation: separatorSlide 5s ease-in-out 0s infinite alternate;
}
    /*#middleBar {
        position: absolute;
        bottom: calc(100% + 0px);
        left: 0px;
        width: 4px;
        height: 28px;
        background-color: #000;
    }*/

    #imageSeparator:before {
        content: "\21FD  \00a0 \00a0 Creators";
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 800;
        position: absolute;
        bottom: calc(100% + 6px);
/*        right: 16px;*/
        right: 10px;
        color: black;

        -webkit-animation: textAnimLeft 5s ease-in-out 0s infinite alternate;
           -moz-animation: textAnimLeft 5s ease-in-out 0s infinite alternate;
            -ms-animation: textAnimLeft 5s ease-in-out 0s infinite alternate;
             -o-animation: textAnimLeft 5s ease-in-out 0s infinite alternate;
                animation: textAnimLeft 5s ease-in-out 0s infinite alternate;
    }

    #imageSeparator:after {
        content: "Users \00a0 \00a0 \21FE";
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 800;
        position: absolute;
        bottom: calc(100% + 6px);
/*        left: 16px;*/
        left: 10px;
        color: black;
        opacity: 0.;

        -webkit-animation: textAnimRight 5s ease-in-out 0s infinite alternate;
           -moz-animation: textAnimRight 5s ease-in-out 0s infinite alternate;
            -ms-animation: textAnimRight 5s ease-in-out 0s infinite alternate;
             -o-animation: textAnimRight 5s ease-in-out 0s infinite alternate;
                animation: textAnimRight 5s ease-in-out 0s infinite alternate;
    }

@keyframes textAnimLeft {
    0% {
        opacity: 0.2;
    }
    20% {
        opacity: 0.2;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1.;
    }
}

@keyframes textAnimRight {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.2;
    }
}

@keyframes topImageSlide {
    0% {
        width: 15%;

    }
    100% {
        width: 85%;
    }
}

@keyframes separatorSlide {
    0% {
        left: 15%;
    }
    100% {
        left: 85%;
    }
}